<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="UCENTRIK.WEB.KIOSK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="SosWebControlPrototype.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="UcAppName" value="Ucentrik Web Kiosk"/>
		<add key="UcStreamServerType" value="CTX"/>
		<add key="SosAvControlServerUrl" value="serverurl=rtmp://orby01.soslivecoach.com:2037/SosAvControlServer"/>
		<add key="SosGridViewPageRows" value="20"/>
		<add key="SosPageRefreshInterval" value="1"/>
    
		<!--Additional call information-->

		<add key="consumerName" value="Consumer Name"/>
		<add key="deviceMake" value="Nokia"/>
		<add key="deviceModel" value="5230"/>
		<add key="deviceValue" value="100"/>
		<add key="deviceType" value="Mobile Device"/>
		<add key="transactValue" value="Call"/>
		<add key="transactCompletion" value="false"/>
		<add key="idCard" value=""/>
		<add key="inspectorBin" value=""/>
		<add key="driverLicense" value=""/>
		<add key="screenUserHelp" value="Step one, Step two"/>

		<add key="uctx.cab" value="../dirActiveX/uctx.cab#version=1,0,0,5"/> <!-- todo: replace with absolute url -->
		<add key="facility.url" value="~/dirKiosk/default.aspx?skillID={skill_id}&amp;langID={lang_id}&amp;groupID={group_id}&amp;kioskID={kiosk_id}&amp;kioskName={kiosk_name}&amp;kioskLocation={kiosk_location}&amp;kioskUser={kiosk_user}&amp;userName={name}&amp;password={pwd}"/>
		<add key="facility.status.timeout_ms" value="3000"/> <!-- 1000=1sec -->
		<add key="facility.status_stamp_max_ms" value="5000"/>

	</appSettings>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="UcAuthenticationModule" type="UCENTRIK.HttpModules.UcAuthenticationModule"/>
    </modules>
  </system.webServer>

  <connectionStrings>
    <add name="UCENTRIK.Properties.Settings.UcConnectionString" connectionString="server=.\SQLEXPRESS; user=sossql; password=sossql; database=UC_DB_TESTING; Connection Timeout=10; Connection Reset=False; Min Pool Size = 20; Max Pool Size=2000;"
      providerName="System.Data.SqlClient" />
    <!-->
    <add name="UCENTRIK.Properties.Settings.UcConnectionString" connectionString="server=localhost\sqlexpress; user=sa; password=1; database=UC_DB_TESTING3; Connection Timeout=10; Connection Reset=False; Min Pool Size = 20; Max Pool Size=2000;" providerName="System.Data.SqlClient" />
    <!-->
  </connectionStrings>

  <system.web>
		<machineKey validationKey="A73BEA5F19F5FB29BABB861F56CEDE21FC2415D49E300859CA2BEBE5D6BB84E7DE340E3930E69F2127918B500EF5C37F18C2B66328B2D3D564C27BD3AB37B353" decryptionKey="981B75051C618FE86307CFA500B975D44322E225F8E40387" validation="SHA1"/>
		<trust level="Full" originUrl=""/>
    <httpRuntime maxRequestLength="65536" />
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<customErrors mode="RemoteOnly" defaultRedirect="dirHtml/Error.htm">
			<error statusCode="500" redirect="dirHtml/Error.htm?code=500"/>
			<error statusCode="404" redirect="dirHtml/Error.htm?code=404"/>
			<error statusCode="403" redirect="dirHtml/Error.htm?code=403"/>
		</customErrors>
		<authentication>
			<forms name="UCENTRIK_Kiosk" loginUrl="default.aspx" protection="Encryption" timeout="120" path="/" requireSSL="false" slidingExpiration="true">
				<credentials passwordFormat="Clear"/>
			</forms>
		</authentication>
		<pages theme="UCENTRIK" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
		<httpModules>
			<remove name="WindowsAuthentication"/>
			<remove name="PassportAuthentication"/>
			<remove name="UrlAuthorization"/>
			<remove name="FileAuthorization"/>
			<remove name="OutputCache"/>
			<!--      <remove name="Session" />-->
			<remove name="FormsAuthentication"/>
			<remove name="RoleManager"/>
			<remove name="AnonymousIdentification"/>
			<remove name="Profile"/>
			<remove name="ServiceModel"/>
			<remove name="ErrorHandlerModule"/>
			<add name="UcAuthenticationModule" type="UCENTRIK.HttpModules.UcAuthenticationModule"/>
			
		</httpModules>
	</system.web>
	<applicationSettings>
		<UCENTRIK.WEB.KIOSK.Properties.Settings>
			<setting name="CrmUserName" serializeAs="String">
				<value>admin</value>
			</setting>
			<setting name="CrmUserPassword" serializeAs="String">
				<value>admin</value>
			</setting>
			<setting name="IgnoreCrm" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="CrmServiceUrl" serializeAs="String">
				<value>http://licensing.soslivecoach.com/CRM/CRMService.asmx</value>
			</setting>
			<setting name="LoginServiceUrl" serializeAs="String">
				<value>http://licensing.soslivecoach.com/CRM/LoginService.asmx</value>
			</setting>
			<setting name="ServerUrl" serializeAs="String">
				<value>rtmpt://media01.soslivecoach.com:80/SosVideoServer1</value>
			</setting>
    </UCENTRIK.WEB.KIOSK.Properties.Settings>
	</applicationSettings>
</configuration>
