
<table width="100%" align="center" cellSpacing="0" cellPadding="0" border="0">

    <tr height="20px" class="Footer">
        <td align="center">

            <table width="100%" align="center" cellSpacing="0" cellPadding="0" border="0">
                <tr height="10px">

                    <td width="5"></td>


                    <td align="left" valign="middle" noWrap>
<a href="http://www.ucentrik.com" target="_new">
UCENTRIK Home Page
</a>
&nbsp;&nbsp;|&nbsp;
<a href="http://www.ucentrik.com/webscripts/PrivacyStatement.aspx" target="_new">
Privacy Statement
</a>
&nbsp;&nbsp;|&nbsp;
<a href="http://www.ucentrik.com/webscripts/TermsOfUse.aspx" target="_new">
Terms of Use
</a>
                    </td>


                    <td align="right" valign="middle" noWrap class="Footer">
Copyright UCENTRIK. 2011
                    </td>

                    <td>
&nbsp;&nbsp;
                    </td>

                </tr>
            </table>

        </td>
    </tr>


</table>