
<table width="100%" align="center" cellSpacing="0" cellPadding="0" border="0">
    <tr>
        <td width="50px">
            <div id="HeaderLeft">
            </div>
        </td>
        
        <td>
            <div id="Header">
                &nbsp;
            </div>
        </td>
        
        <td width="50px">
            <!--a href="http://www.ucentrik.com" target="header_logo_website">
            </a-->
            <div id="HeaderRight">
            </div>
        </td>
    </tr>
</table>

