
<table width="100%"  height="100%" cellSpacing="0" cellPadding="0" border="0">

    <tr height="25px">
        <td>
            <br />
        </td>
    </tr>
    
    <tr>
        <td align="center">
            <div id="PlatformPic2">
            </div>
        </td>
    </tr>
    <tr>
        <td class="sidemenu">
            Looking to navigate the Internet?
            <br />
        </td>
    </tr>
    
    
    <tr>
        <td>
            <br />
        </td>
    </tr>
    
    
    <tr>
        <td align="center">
            <div id="PlatformPic1">
            </div>
        </td>
    </tr>
    <tr>
        <td class="sidemenu">
            Let an Agent show you around!
            <br />
        </td>
    </tr>
</table>
                            
