body 
{ 
	margin: 0px; 
	overflow:auto 
}

p 
{ 
	margin: 0px; 
	width:auto
}

.resolComboBox
{
    width: 85px;
}

select 
{ 
	width:206px 
}


input[type="text"] 
{
    width: 200px;
}

.equalWidthButton 
{
    width: 160px;
}

fieldset
{
	width:auto;
	margin:5px
}

