<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UCENTRIK.WEB.PLATFORM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="SosWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="UcentrikWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="SosWebControlPrototype.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="EmailTemplates.RestorePassword.Subject" value="Restore password" />
    <add key="MailSender.UseSSL" value="true" />
    <add key="UcAppName" value="Ucentrik Web Platform"/>
    <add key="UcStreamServerType" value="CTX"/>
    <add key="UcAvControlServerUrl" value="serverurl=rtmp://orby01.soslivecoach.com:2037/SosAvControlServer"/>
    <add key="UcGridViewPageRows" value="20"/>
    <add key="UcPageRefreshInterval" value="8"/>
    <add key="UcCallForwardingInterval" value="30"/>
    <add key="UcCallCleanUpInterval" value="20"/>
    <add key="UcPublicCallEnabled" value="True"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="UcFormatProfileDateTime" value="dd-MMMM-yyyy [hh:mm tt]"/>
    <add key="UcFormatListDateTime" value="dd-MMMM-yyyy [hh:mm tt]"/>
    <add key="UcDefaultTimeZone" value="Eastern Standard Time"/>

	<add key="uctx.cab" value="../dirActiveX/uctx.cab#version=1,0,0,5"/> <!-- todo: replace with absolute url -->
	<add key="facility.status_stamp_max_ms" value="5000"/>
	<add key="path.GStreamer" value="C:\Program Files\OSSBuild\GStreamer\v0.10.7\bin\gst-launch.exe"/>
  </appSettings>

  <connectionStrings>
    <add name="UCENTRIK.Properties.Settings.UcConnectionString" connectionString="server=localhost\SOS; user=sossql; password=sossql; database=UC_DB_TESTING1; Connection Timeout=10; Connection Reset=False; Min Pool Size = 20; Max Pool Size=2000;" providerName="System.Data.SqlClient" />
    <!-->
    
    <add name="UCENTRIK.Properties.Settings.UcConnectionString" connectionString="server=localhost\sqlexpress; user=sa; password=1; database=UC_DB_TESTING3; Connection Timeout=10; Connection Reset=False; Min Pool Size = 20; Max Pool Size=2000;" providerName="System.Data.SqlClient" />
    <!-->
    
  </connectionStrings>
  
  <system.web>
    <machineKey validationKey="DC850D2CBFBE2BD15FA68B19295F3D1F1FDAC9ADA1C53DF478BA8332D5FC102BED41951C16EE3105CDD300E4AB9205BB1D8FED1E34C83CC236C55CBA1A62E6AC" decryptionKey="1A681DAD167699EFEFB066A6705D5D37117DD642F3468F37" validation="SHA1"/>

    <trust level="Full" originUrl=""/>
    <httpRuntime maxRequestLength="65536" />

    <compilation batch="false" debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>

    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="dirHtml/Error.htm?code=404"/>
      <error statusCode="403" redirect="dirHtml/Error.htm?code=403"/>
    </customErrors>

    <authentication mode="Forms">
      <forms name="UCENTRIK_Platform" loginUrl="default.aspx" protection="Encryption" timeout="60" path="/" requireSSL="false" slidingExpiration="true">
        <credentials passwordFormat="Clear"/>
      </forms>
    </authentication>

    <pages theme="UCENTRIK" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
    </pages>

    <siteMap defaultProvider="DefaultSiteMapProvider">
      <providers>
        <clear/>
        <add siteMapFile="web.sitemap" name="DefaultSiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add siteMapFile="App_Menu/ADMIN.sitemap" name="RoleAdminSiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add siteMapFile="App_Menu/AGENT.sitemap" name="RoleAgentSiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add siteMapFile="App_Menu/USER.sitemap" name="RoleUserSiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add siteMapFile="App_Menu/Supervisor.sitemap" name="RoleSupervisorSiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </siteMap>

    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </httpHandlers>

    <httpModules>
      <remove name="WindowsAuthentication"/>
      <remove name="PassportAuthentication"/>
      <remove name="UrlAuthorization"/>
      <remove name="FileAuthorization"/>
      <remove name="OutputCache"/>
      <!--      <remove name="Session" />-->
      <remove name="FormsAuthentication"/>
      <remove name="RoleManager"/>
      <remove name="AnonymousIdentification"/>
      <remove name="Profile"/>
      <remove name="ServiceModel"/>
      <remove name="ErrorHandlerModule"/>
      <add name="UcAuthenticationModule" type="UCENTRIK.HttpModules.UcAuthenticationModule, UCENTRIK.LIB"/>
    </httpModules>
  </system.web>

  <system.net>
    <mailSettings>
        <smtp from="ucentrik.noreply@gmail.com">
          <network host="smtp.gmail.com" port="587" userName="ucentrik.noreply@gmail.com" password="ucentr1k" />
        </smtp>
    </mailSettings>
  </system.net>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
    </handlers>
    <modules>
      <add name="UcAuthenticationModule" type="UCENTRIK.HttpModules.UcAuthenticationModule, UCENTRIK.LIB"/>
    </modules>
  </system.webServer>

  <applicationSettings>
    <UCENTRIK.WEB.PLATFORM.Properties.Settings>
      <setting name="CrmUserName" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="CrmUserPassword" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="IgnoreCrm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CrmServiceUrl" serializeAs="String">
        <value>http://licensing.soslivecoach.com/CRM/CRMService.asmx</value>
      </setting>
      <setting name="LoginServiceUrl" serializeAs="String">
        <value>http://licensing.soslivecoach.com/CRM/LoginService.asmx</value>
      </setting>
      <setting name="ServerUrl" serializeAs="String">
        <value>rtmpt://media01.soslivecoach.com:80/SosVideoServer1</value>
      </setting>
    </UCENTRIK.WEB.PLATFORM.Properties.Settings>
    <SosWeb.Properties.Settings>
      <setting name="CrmUserName" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="CrmUserPassword" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="IgnoreCrm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CrmServiceUrl" serializeAs="String">
        <value>http://devyyz.soslivecoach.com/CRM/CRMService.asmx</value>
      </setting>
      <setting name="LoginServiceUrl" serializeAs="String">
        <value>http://devyyz.soslivecoach.com/CRM/LoginService.asmx</value>
      </setting>
      <setting name="ServerUrl" serializeAs="String">
        <value>rtmpt://DEVYYZ.soslivecoach.com:80/SosVideoServer1</value>
      </setting>
    </SosWeb.Properties.Settings>
  </applicationSettings>

</configuration>
